.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.card {
    margin-right: 1rem;
}

.hiddenCard {
    visibility:hidden;
}

.cardSkeletonContainer{
    margin:0
}

.cardSkeleton {
    height: 10rem;
    width: 9rem !important;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    box-shadow: 0px 4px 35px -15px rgba(0, 0, 0, 0.25);
    border-radius: 15px !important;
}

.errorCard {
    height: 10rem;
    background: #F6F6F6;
    mix-blend-mode: normal;
    width: 9rem !important;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    box-shadow: 0px 4px 35px -15px rgba(0, 0, 0, 0.25);
    border-radius: 15px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewCard {
    margin-right: 1rem;
}

.topContainer {
    width: 95%;
    height: 100%;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 60% 40%;
}

.titleTileContainer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-column: 1 / 2;
}

.pageTitle {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 176.7%;
}

.tileContainer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2 / 3;
}

.middleContainerOne {
    width: 100%;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.middleContainerTwo {
    width: 100%;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.bottomContainer {
    width: 100%;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
