.metrics {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 15% 70%;
}

.titleContainer {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    container: name / normal;
}

.title>h1{
    margin-right: auto;
    font-size: 3cqw;
    white-space: nowrap;
    padding-right: 0.5rem;
}

.title>p{
    color: #000;
    font-size: 1.1cqw;
    font-weight: 500;
}

.deviceCountContainer{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statusContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.deviceCount{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    margin-right: 1.5rem;
}

.iconTotal{
    font-size: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--black);
    margin-right: 0.5rem;
    cursor: pointer;
}

.iconOnline{
    font-size: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: var(--pigment-green);
    margin-right: 0.5rem;
    cursor: pointer;
}

.iconOffline{
    font-size: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #b62a20;
    margin-right: 0.25rem;
    cursor: pointer;
}

.statusTitle{
    color: #6C7172;
    font-size: 1rem;
    font-weight: 600;
}

.deviceCount>p:nth-child(2){
    font-size: 1.2rem;
}

.statusBarContainer{
    width: 98%;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statusBarItem{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    cursor: pointer;
}
.statusBarItem>h3{
    color: #6C7172;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.statusBarItem>p{
    color: #000;
    font-size: 2.8125rem;
    font-family: Nunito;
    font-weight: 800;
}

.bottomContainer{
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.leftContainer{
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.graph{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.rightContainer{
    grid-column: 2;
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.infoCardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.infoCard{
    width: 9.5rem;
    height: 9.75rem;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(162, 225, 161, 0.00) 0%, rgba(162, 225, 161, 0.70) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.infoCard>h3{
    color: #000;
    font-size: 2.5rem;
    font-family: Nunito;
    font-weight: 800;
    padding-left: 0.5rem;
}

.infoIcon{
    width: 100%;
    height: 25%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000;
}



.infoCard>p{
    color: #6C7172;
    text-align: center;
    font-size: 1rem;
    font-family: Reem Kufi;
    font-weight: 500;
    line-height: 1.25rem;
}

.batteryStatusContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.batteryStatus{
    width: 21.625rem;
    height: 85%;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(162, 225, 161, 0.00) 0%, rgba(162, 225, 161, 0.70) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    container: name / size;
}

.batteryStatus>h3{
    color: #6C7172;
    padding: 0.5rem 1rem;
    font-size: 4.5cqw;
    font-family: Reem Kufi;
    font-weight: 500;
    white-space: nowrap;
}

.countStatusContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
}

.batteryStatusCountContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.batteryStatusIconContainer{
    font-size: 2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #b62a20;
    margin-right: 0.5rem;
}

.batteryStatusCountContainer>p{
    color: #000;
    font-size: 2rem;
    font-family: Nunito;
    font-weight: 800;
    margin-right: 4.5rem;
}

.alarmChartContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alarmChart{
    background: linear-gradient(135deg, rgba(162, 225, 161, 0.00) 0%, rgba(162, 225, 161, 0.70) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}