.graphCard {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* animation: fadeIn 0.7s ease-in-out; */
}

.graph{
    width: 95%;
    height: 90%;
    position: relative;
}

.selectBox{
    position:absolute;
    top: 0.25rem;
    right: 0;
}

.select{
    font-family: "Reem Kufi";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6C7172;
    border: none;
    cursor: pointer;
}

.options{
    font-family: "Reem Kufi";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6C7172;
}

/* @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-3%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */