.card {
    width: 18.4rem;
    height: 6.875rem;

    background: #96DE95;
    mix-blend-mode: normal;
    opacity: 0.75;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.headingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

span {
    margin:0;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #8DCF8C;
    opacity: 0.75;
    mix-blend-mode: normal;
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 3px;
}

.titleContainer{
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.825rem;
    padding-left: 7px;
    color: #6C7172;
}

.percentChange{
    background: #71C36F;
    mix-blend-mode: normal;
    opacity: 0.75;
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 0.725rem;
    line-height: 1rem;
    color: #ffffff;
    padding: 5px;
}

.valueContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: 1.5rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #212D21;

}
    

